 .headpic{
  padding-left: 35px;
  margin: 10px;
  height: 70px;
  width: 100px;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  
}

.div-one {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 25px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  background-color: rgb(35, 61, 255);
  height: 75px;
  
}

.lih{
  color: white;
  padding-right: 40px;
  margin-right: 200px;
}


.text{
  padding-top: 70px;
  margin-left: 55px;
  color: white;
  width: 200px;
}

.buttons{
  margin-left: 55px;
  margin-top: 55px;
  width: 300px;
  height: 40px;
  text-align: center;
  display: inline-flex;
  font-size: 16px;
  
}

.bt1{
  margin-right: 20px;
  text-align: center;
  color: white;
  background-color: rgb(35, 61, 255);
  border: none;
}

.bt2{
 
  text-align: center;
  color: white;
  background-color: black;
  border: none;
}


.pageonepart{
  margin-left: 20px;
  margin-right: 20px;
  height: 500px;
}


.h1part2{
  padding-top: 70px;
  margin-left: 55px;
  color: white;
  width: 200px;
}

.ppart2{
 margin-left: 350px;
  background-color: whitesmoke;
 opacity: 0.8 ;
 width: 600px;
 height: 150px;
 padding: 20px;
}

.pagesecendpart{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: 500px;
}

.pagethird{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  text-decoration: none;
  list-style: none;
}

.userDiv{
  border: none;
  width:  150px;
  height: 200px;
  display: inline-block;
  margin: 50px 80px;
  text-align: center;
}

.speaktext{
  margin-top: 20px;
  margin-left: 20px;
  width: 550px;
  color: rgb(35, 61, 255);
}